Source: faenza-icons-pack-trios
Section: gnome
Priority: extra
Maintainer: Filip Danilovic <filip@opmbx.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1

Package: faenza-icons-pack-trios
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Faenza Icon Theme
 The Faenza icon theme provide monochromatic icons for panels, 
 toolbars and buttons and squared colorful icons for applications,
 devices, folders and files.
